:root {
    --negro: #000;
    --blanco: #fff;
    --gris: #f3f3f3;
    --principal: #1877F2;
    --secundario: #DD820D;
}


html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14;
}

img {
    width: 100%;
}

/* Utilidades */

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.centrar-texto {
    text-align: center;
}

.h-100 {
    height: 100%;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-bold {
    font-weight: bold;
}

.no-margin {
    margin: 0;
}

.text-primary {
    color: var(--principal);
}

.text-secondary {
    color: var(--secundario);
}

.bg-light {
    background-color: var(--blanco);
    color: var(--negro);
    border-bottom: 2px solid var(--gris);
}

/* Cambiar el color de los enlaces cuando pase cierto Height */
.bg-light > .nav__item >.list__item > .link__item {
    color: var(--negro);
} 

/* Header */

.header {
    position: fixed;
    width: 100%;
}

.barra {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding: 0 30px;
}

.menu__desplegable {
    display: none;
}


.nav__item {
    display: flex;
    /* QUITAR */
}

.list__item {
    padding-right: 20px;
}

.list__item:last-of-type {
    padding-right: 0;
}

.link__item {
    color: var(--blanco);
    cursor: pointer;
}

.enlaces__black {
    color: var(--negro);
}

/* Banner Header */

.banner {
    background-image: url(../img/img_header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: rgba(0,0,0,0.4);
    height: 575px;
    padding-top: 60px;
}

.banner__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner__texto {
    margin: 0;
    color: var(--blanco);
    border: 3px solid var(--blanco);
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    line-height: 1.4;
}

/* Profile */

.perfil {
    margin-bottom: 80px;
}

.perfil__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil__img {
    width: 170px;
    border-radius: 50%;
    margin-top: -85px;
    border: 8px solid rgb(255, 255, 255, 0.1);
}

.perfil__nombre {
    font-size: 28px;
}

.perfil__descripcion {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
}

/* Portafolio */

.portafolio {
    background-color: var(--gris);
    padding: 20px 0;
}

.portafolio__titulo {
    font-size: 38px;
    margin: 20px 0 40px 0;
}

.proyecto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Media Query */

@media (max-width: 768px) {

    .menu__desplegable {
        display: block;
        color: var(--negro);
        font-size: 30px;
        cursor: pointer;

    }

    .barra {
        background-color: var(--blanco);
        border-bottom: 3px solid var(--gris);
    }

    .color-negro {
        color: var(--negro);
    }

    .nav__item {
        position: fixed;
        left: 100%;
        top: 60px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
        height: calc(100% - 60px);
        overflow-y: scroll;
        transition: all 0.3s ease 0.1s;

    }

    .nav__item--active {
        left: 0%;
        transition: all 0.3s ease 0.1s;
        background-color: var(--blanco);
    }

    .list__item {
        padding: 30px 0;
    }

    .list__item:hover {
        background-color: var(--gris);
    }

    .link__item {
        color: var(--negro);
    }
}